:root {
  --primary: #4294e3;
  --secondary: rgb(66, 6, 6);
  --light: #f0f6ff;
  --dark: #262b47;
}

nav {
  background: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
}

#connect {
  text-align: center;
}

#separation {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}
.py-5 {
  padding-top: 3rem;
}

@media (max-width: 756px) {
  .py-5 {
    padding-top: 0;
  }
}
